

<footer class="container-fluid p-5" id="foot">
    <p><b>&copy 2022 - Desarrollado por Miguel Bazzarelli</b></p>
    <div class="linkin">
        <ul>
            <li><a href="https://www.linkedin.com/in/miguel-ernesto-bazzarelli-8b5029247" target=ank"_bl" class="linkedin"><i class="fa-brands fa-linkedin-in"></i></a></li>
        </ul>
    </div>
   
    <div class="redes-container">
        <ul>
            <li><a href="https://www.instagram.com/mym_medicinal/" target=ank"_bl" class="instagram"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="https://www.facebook.com/profile.php?id=100072464643939" target=ank"_bl" class="facebook"><i class="fa-brands fa-facebook-f"></i></a></li>
        </ul>
    </div>
</footer>
