<body class="paginacontacto">
    
</body>
<div class="title">
    <hr>
    <h1 class="huno">
        Contactá con nosotros 
    </h1>
    <h2 class="hdos">Queremos escucharte</h2>
    <hr>
</div>
<div class="parrafo">
    <p>- Para obtener más información sobre nuestros porductos <br>
    - Si estás interesado/a en vender y distribuir nuestros productos <br> 
    Rellená nuestro formulario y nos pondremos en contacto contigo lo antes posible. <br>Muchas gracias</p>
</div>

<div class="flex-container">
    <form action="contacto" method="post" class="form">
        <div class="form__section">
            <input type="text" class="form__input" name="nombre" required placeholder="Escriba su nombre">
        </div>
        <div class="form__section">
            <input type="email" class="form__input" name="email" required placeholder="Escriba su Email">
        </div>
        <div class="form__section">
            <textarea class="form__input" name="mensaje" placeholder="Escriba su mensaje"></textarea>
        </div>
        <div class="form__section">
            <input type="submit" class="form__submit">
        </div>
        <div class="text-center">
        <h2 class="text-danger">
            {{validacion}}
        </h2>
    </div>
    </form>
    <div class="form-img">
        <div class="img-container">
            <div>
                <img src="imagen/email2.png" alt="Email">
            </div>
        </div>
    </div>
</div>

    