
<body class="bodyenv">
    
</body>

<div class="container_envio">
    <span>¡F</span>
    <span>e</span>
    <span>l</span>
    <span>i</span>
    <span>c</span>
    <span>i</span>
    <span>d</span>
    <span>a</span>
    <span>d</span>
    <span>e</span>
    <span>s!</span>
</div>
<div class="container_ev">
    <span>Email </span>
    <span>enviado </span>
    <span>con</span>
    <span>éxito</span>
</div>