<body class="nosotros">
    
</body>
<div class="titulo-nosotros text-center" >
    <hr>
        <h1 class="h1nos titilar">
            NUESTRA FAMILIA
        </h1>
    <hr>
</div>

<div class="foto-container">
    <img src="imagen/asdf.png" alt="" srcset="">
    <b> Somos emprendedores, nuestro proyecto es la cósmetica y medicina cannabica natural, 
        nacido de la necesidad de una alternativa que usa los activos de las plantas como terapia para la salud. Seleccionamos cuidadosamente cada planta para mejorar la dermis y el bienestar de nuestros clientes. La principal es la planta de cannabis,
        de la que se extrae CBD el cual no contiene efectos psicoactivos ni genera dependencia. Este compuesto tiene propiedades antiinflamatorias, relajantes, emolientes y antioxidantes. Es sumamente eficaz para combatir dolores y tratar problemas dérmicos como la psoriasis, eczemas y la dermatitis entre otros multiples beneficios de la planta.
        Cada uno de nuestros productos están hechos a mano, con mucho estudio y amor por lo que hacemos y por el medio ambiente.
        Todos se encuentran libres de parabenos, sulfatos, agrotóxicos y cualquier otro contaminante. 
        Los productos son completamente natural, incluidos nuestros conservantes. Escuchamos lo que necesita nuestra piel, nuestro templo que es el cuerpo y lo conectamos con la naturaleza para brindarles nuestro mejor trabajo siempre con respeto y AMOR.</b>
</div>